<div class="list_newsletter_promo" id="newsletter_subscribe" markdown="1">
<p><b>Enjoying our articles?</b></p>

<p>Then get the best of DataPastry delivered right into your inbox. You'll receive:</p>
<ul>
<li>Our free ebook, <i>The Manager’s Guide to Data Science</i></li>
<li>In-depth advice on how to set up your data team, infrastructure and more</li>
<li>Tools and materials to help you establish the value of your data and hire the right data professionals</li>
</ul>
<form name="newsletter" method="POST" data-netlify="true">
    <input type="email" name="email" placeholder="Email" autocomplete="email" /> <button type="submit" class="btn btn--primary">Subscribe</button>
</form>
</div>