<div class="newsletter_promo" id="newsletter_subscribe" markdown="1">
**Liked this article**?

Then get the best of DataPastry delivered right into your inbox. You'll receive:
* Our free ebook, *The Manager’s Guide to Data Science*
* In-depth advice on how to set up your data team, infrastructure and more
* Tools and materials to help you establish the value of your data and hire the right data professionals
<form name="newsletter" method="POST" data-netlify="true">
    <input type="email" name="email" placeholder="Email" autocomplete="email" /> <button type="submit" class="btn btn--primary">Subscribe</button>
</form>
<img src="{{ site.baseurl }}/assets/images/ebook_small.jpg" alt="The Manager's Guide to Data Science">
</div>